<header class="header">
  <nav>
    <ul id="leftnav">
      <li class="logo-item">
        <a href="/index">
          <img src="/assets/logo-4.png" alt="Riders Rendezvous Logo" class="logo">
        </a>
      </li>
    </ul>
  </nav>
</header>
