<!DOCTYPE html>
<html lang="en">

<head>
  <title>Riders Rendezvous - About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>

<body>
  <!-- Include Header and Navigation -->
  <%- include('partials/header.ejs') %>
  <%- include('partials/upnav.ejs') %>

  <!-- Main Content -->
  <main class="middlecontainer">
    <p class="frontpagetext">Welcome to Riders Rendezvous</p>
    <p class="frontpagetext1">Here's about us.</p>
    <p>We've got room for all! Join us for a tutorial or simply, to meet with those who tame the same terrain as you do!
       Ready? Set! Rev! Go!</p>
  </main>

  <!-- Include Footer -->
  <%- include('partials/footer.ejs') %>
</body>

</html>
