<!DOCTYPE html>
<html lang="en">

<head>
  <title>Riders Rendezvous - Contact Us</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>

<body>
  <!-- Header and Navigation -->
  <%- include('partials/header.ejs') %>
  <%- include('partials/upnav.ejs') %>

  <!-- Contact Information Section -->
  <section class="middlecontainer">
    <h1 class="frontpagetext">Contact Us</h1>
    <p class="frontpagetext1">We'd love to hear from you. Here's how you can reach us:</p>
    
    <!-- Contact Details -->
    <p>Phone: <a href="tel:00000">00000</a></p>
    <p>Email: <a href="mailto:riders@gmail.com">riders@gmail.com</a></p>
  </section>

  <!-- Footer -->
  <%- include('partials/footer.ejs') %>
</body>

</html>
